<div class="login-wrapper">
  <div class="login-container">
    <div class="login-header">
      <img src="../../../../assets/images/Logo_ENICarthage-removebg-preview.png" alt="ENICarthage" class="logo">
      <h1>Connexion</h1>
      <p>Plateforme de gestion des stages</p>
    </div>

    <form class="login-form">
      <div class="form-group">
        <label for="email">Email institutionnel</label>
        <input id="email" type="email" name="email" placeholder="prenom.nom@enicar.ucar.tn" [(ngModel)]="email">
      </div>

      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input id="password" type="password" name="password" placeholder="••••••••" [(ngModel)]="password">
      </div>

      <button type="submit" class="login-btn" (click)="login()">Se connecter</button>

    </form>
  </div>
</div>