<div *ngIf="isetudiant === false" class="d-flex justify-content-end mb-3 ">
  <!-- <button class="btn btn-success text-white me-5 mt-4" (click)="openDialog()">
    Ajouter une soutenance
  </button> -->
  <button class="btn  text-white mb-3" style="background-color: #669bbc ;" (click)="openDialog()"><i
      class="fas fa-plus-circle me-2"></i>Ajouter une
    soutenance</button>
</div>

<c-smart-table *ngIf="soutenances && soutenances.length > 0" [activePage]="1" [columnSorter]="true" [columns]="columns"
  [columnFilter]="true" [itemsPerPageSelect]="true" [itemsPerPage]="10" [items]="soutenances"
  [sorterValue]="{ column: 'name', state: 'asc' }" [tableProps]="{ hover: true, striped: true, responsive: true }"
  [tableBodyProps]="{ align: 'middle' }" clickableRows header pagination>


  <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
    <td>


      <!-- Vérifier si la colonne est 'encadrant' et afficher son nom -->
      <ng-container *ngIf="columnName === 'encadrant'">
        {{ item.encadrant?.nom }} {{ item.encadrant?.prenom }}
        <!-- Accéder au nom de l'encadrant -->
      </ng-container>
      <ng-container *ngIf="columnName === 'etudiant'">
        {{ item.etudiant?.nom }} {{ item.etudiant?.prenom }}
        <!-- Accéder au nom de l'encadrant -->
      </ng-container>

      <!-- Pour les autres colonnes, afficher la valeur par défaut -->
      <ng-container *ngIf="columnName !== 'encadrant' && columnName !== 'action' && columnName !== 'etudiant'">
        {{ item[columnName] }}
      </ng-container>

      <!-- Pour la colonne 'Action', afficher les boutons de suppression et de modification -->
      <ng-container *ngIf="columnName === 'action'">
        <button cButton class="me-2" size="sm" (click)="AfficherJury(item.id)"
          style=" background-color: #003049 ;color: #ffffff;">
          Jury
        </button>
        <button *ngIf="isetudiant === false" cButton class="me-2" size="sm"
          style="background-color: #669bbc ;color: #ffffff;" (click)="openDialogUpdate(item.id)">
          <i class="fa fa-edit" style="background-color: #669bbc ;color: #ffffff;"></i> <!-- Icon for edit -->
        </button>
        <button *ngIf="isetudiant === false" cButton class="ms-1" size="sm"
          style="background-color: #780000 ;color: #ffffff;" (click)="supprimerSoutenance(item.id)">
          <i class="fa fa-trash" style="background-color: #780000 ;color: #ffffff;"></i> <!-- Icon for delete -->
        </button>
      </ng-container>



    </td>
  </ng-template>



</c-smart-table>