<c-row class="g-4">
  <c-col sm="4">
    <c-widget-stat-a [style]="'background-color: #780000; color: white;'" [title]="'Utilisateurs'">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        {{ userCount }}
        <span class="fw-normal" style="font-size: 12px;">
          (activés: {{ activatedCount }} / désactivés: {{ deactivatedCount }})
        </span>
      </ng-template>

      <ng-template cTemplateId="widgetActionTemplate">
        <svg cIcon name="cilGroup" size="lg" class="text-white"></svg>
      </ng-template>
    </c-widget-stat-a>

  </c-col>

  <c-col sm="4">
    <c-widget-stat-a [style]="'background-color: #003049; color: white;'" [title]="'Comptes Activés'">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        {{ activatedCount }}
      </ng-template>

      <ng-template cTemplateId="widgetActionTemplate">
        <svg cIcon name="cilCheckCircle" size="lg" class="text-white"></svg>
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <c-col sm="4">
    <c-widget-stat-a [style]="'background-color: #669bbc; color: white;'" [title]="'Comptes Désactivés'">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        {{ deactivatedCount }}
      </ng-template>

      <ng-template cTemplateId="widgetActionTemplate">
        <svg cIcon name="cilBan" size="lg" class="text-white"></svg>
      </ng-template>
    </c-widget-stat-a>
  </c-col>


</c-row>
<br />
<c-row class="g-4">
  <c-col *ngFor="let role of userRolesArray; let i = index" sm="6" xl="3">
    <div class="card-modern">
      <div class="card-header">
        <div class="icon-circle">
          <svg cIcon name="cilUser" size="lg" class="icon-style"></svg>
        </div>
        <div>
          <h6 class="card-title">{{ role.name.replaceAll('_', ' ') }}</h6>
          <div class="card-subtitle">{{ role.count }} Utilisateurs</div>
        </div>
      </div>

    </div>
  </c-col>
</c-row>