<c-row>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header class="dashboard-header" ngPreserveWhitespaces>
                <div class="header-content">
                    <span class="admin-role">SERVICE DE STAGE</span>
                    <h2>Gestion des livrables</h2>
                </div>
            </c-card-header>

            <c-card-body>
                <div *ngIf="livrables">
                    <app-livrables-basic-example [livrables]="livrables" />
                </div>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>