<div class="dashboard-container">
    <!-- Sidebar -->
    <div class="sidebar">
        <h2>Menu</h2>
        <p-panelMenu [model]="items" styleClass="w-full md:w-20rem"></p-panelMenu>
    </div>

    <!-- Contenu Principal -->
    <div class="main-content">
        <h1>Tableau de Bord</h1>
        <p>Bienvenue sur votre tableau de bord.</p>
    </div>
</div>
<!-- <div class="dashboard-container">
    <div class="sidebar" [class.collapsed]="isSidebarCollapsed">
        <h2>Menu</h2>
        <ul>
            <li><a href="#"><i class="pi pi-home"></i> Accueil</a></li>
            <li><a href="#"><i class="pi pi-user"></i> Profil</a></li>
            <li><a href="#"><i class="pi pi-cog"></i> Paramètres</a></li>
            <li><a href="#"><i class="pi pi-sign-out"></i> Déconnexion</a></li>
        </ul>
        <button (click)="toggleSidebar()">
            {{ isSidebarCollapsed ? 'Agrandir' : 'Réduire' }}
        </button>
    </div>

    <div class="main-content">
        <app-entreprise></app-entreprise>
    </div>
</div> -->