<!-- smart-table-convention.component.html -->
<c-smart-table
  [items]="conventions"
  [columns]="columns"
  [tableFilter]="true"
  [columnFilter]="true"
  [columnSorter]="true"
  [itemsPerPage]="10"
  header
  pagination
  tableProps="{ hover: true, striped: true }"
>
  <ng-template cTemplateId="tableData" let-item="item" let-columnName="columnName">
    <td>
      @switch (columnName) {
        @case ('fichierPDFNom') {
          <a (click)="downloadConvention(item.fichierPDFNom)" 
             class="text-primary text-decoration-underline" 
             style="cursor: pointer;">
            <i class="cil-cloud-download me-2"></i>
            {{ item.fichierPDFNom || 'Aucun fichier' }}
          </a>
        }
        @case ('dateDepot') {
          {{ getDate(item.dateDepot) }}
        }
        @case ('actions') {
          <div class="d-flex gap-2">
            <button (click)="validerConvention(item.id)" 
                    cButton color="success" size="sm" class="text-white">
              Valider
            </button>
            <button (click)="refuserConvention(item.id)" 
                    cButton color="danger" size="sm" class="text-white">
              Refuser
            </button>
          </div>
        }
      }
    </td>
  </ng-template>
</c-smart-table>