<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header class="dashboard-header" ngPreserveWhitespaces>
        <div class="header-content">
          <span class="admin-role" *ngIf="isService">SERVICE DE STAGE</span>
          <span class="admin-role" *ngIf="isEtudiant">ESPACE ETUDIANT</span>

          <h2>Gestion les entreprises</h2>
        </div>
      </c-card-header>


      <c-card-body>
        <div *ngIf="entreprises">
          <app-entreprises-basic-example [entreprises]="entreprises" />
        </div>

      </c-card-body>
    </c-card>
  </c-col>

</c-row>