<!-- dashboard.component.html -->
<app-widgets-dropdown *ngIf="isSuperAdmin" />
<br />
<!-- Contenu pour SUPER_ADMIN -->
<c-card class="mb-4" *ngIf="isSuperAdmin">
  <c-card-header>Tableau de bord Super Admin</c-card-header>
  <c-card-body>
    <div class="chart-container">
      <c-chart type="bar" [data]="barChartData" [options]="barChartOptions"></c-chart>
    </div>


  </c-card-body>
</c-card>

<!-- Contenu pour ADMIN -->
<c-card class="mb-4" *ngIf="isAdmin">
  <c-card-header>Tableau de bord Admin</c-card-header>
  <c-card-body>
    <div class="chart-container" style="height: 400px;">
      <c-chart type="bar" [data]="barChartData" [options]="barChartOptions"></c-chart>
    </div>
    <!-- Contenu spécifique pour ADMIN -->
  </c-card-body>
</c-card>

<!-- Contenu par défaut (autres rôles) -->
<div *ngIf="!isSuperAdmin && !isAdmin">
  <c-card class="mb-4">
    <c-card-header>Tableau de bord Étudiant</c-card-header>
    <c-card-body>
      <!-- Contenu simplifié pour les étudiants -->
      <p>Bienvenue sur votre espace personnel.</p>
    </c-card-body>
  </c-card>
</div>