.avatar-xl {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.avatar-edit {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    border-radius: 50%;
    width: 35px; // Taille du cercle
    height: 35px; // Taille du cercle
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); // Ombre légère pour l'icône

    // Lorsque l'on survole l'icône
    &:hover {
        background-color: #f1f1f1; // Change la couleur de fond sur hover
    }

    // Appliquer une transition douce à la couleur de fond
    transition: background-color 0.3s ease;
}

.avatar-edit c-icon {
    font-size: 18px; // Taille de l'icône du crayon
    color: #555; // Couleur de l'icône par défaut
}

.avatar-edit:hover c-icon {
    color: #007bff; // Couleur de l'icône au survol (par exemple bleu)
}


/* Cibler un autre c-select avec un id spécifique */
#formation,
#niveau,
#sexe,
#filiere,
input[type="date"] {
    width: 160px;
}