<!-- <button class="btn btn-warning text-white mb-3" (click)="telechargerConvention()">Télécharger ma convention</button>
<br />
<button class="btn btn-warning text-white mb-3" (click)="openDialog()">Déposer une convention</button> -->

<c-smart-table *ngIf="conventions && conventions.length > 0" [activePage]="1" [columnSorter]="true" [columns]="columns"
  [columnFilter]="true" [itemsPerPageSelect]="true" [itemsPerPage]="5" [items]="conventions"
  [sorterValue]="{ column: 'name', state: 'asc' }" [tableFilter]="true"
  [tableProps]="{ hover: true, striped: true, responsive: true }" [tableBodyProps]="{ align: 'middle' }" cleaner
  clickableRows footer header pagination>

  <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
    <td>


      <!-- Pour les autres colonnes, afficher la valeur par défaut -->
      <ng-container *ngIf="columnName !== 'action'">
        {{ item[columnName] }}
      </ng-container>

      <!-- Pour la colonne 'Action', afficher les boutons de suppression et de modification -->
      <ng-container *ngIf="columnName === 'actions'">
        <button cButton color="success" size="sm" (click)="openDialogUpdate(item.id)">
          <i class="fa fa-check" style="color: #ffffff;"></i> <!-- Icon for edit -->
        </button>
        <button cButton class="ms-1" color="danger" size="sm" (click)="supprimerEnseignant(item.id)">
          <i class="fa fa-trash" style="color: #ffffff;"></i> <!-- Icon for delete -->
        </button>
      </ng-container>



    </td>
  </ng-template>
</c-smart-table>