<!-- <button class="btn btn-warning text-white mb-3" (click)="telechargerConvention()">Télécharger ma convention</button>
<br />
<button class="btn btn-warning text-white mb-3" (click)="openDialog()">Déposer une convention</button> -->

<c-smart-table *ngIf="conventions && conventions.length > 0" [activePage]="1" [columnSorter]="true" [columns]="columns"
  [columnFilter]="true" [itemsPerPageSelect]="true" [itemsPerPage]="5" [items]="conventions"
  [sorterValue]="{ column: 'name', state: 'asc' }" [tableProps]="{ hover: true, striped: true, responsive: true }"
  [tableBodyProps]="{ align: 'middle' }" clickableRows header pagination>

  <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
    <td>
      <ng-container
        *ngIf="columnName !== 'action' && columnName !== 'valideeService' && columnName !== 'etudiant' && columnName !== 'dateDepot'  && columnName !== 'fichierPDFNom'">
        {{ item[columnName] }}
      </ng-container>
      <ng-container *ngIf=" columnName==='etudiant'">
        {{item[columnName].nom}} {{item[columnName].prenom}}
      </ng-container>

      <!-- Pour la colonne 'Action', afficher les boutons de suppression et de modification -->
      <ng-container *ngIf="columnName==='actions'">
        <!-- Bouton Valider (check) -->
        <button cButton size="sm" (click)="approuverConvention(item.id)" class="me-1 validate-btn">
          <i class="fas fa-check"></i>
        </button>

        <!-- Bouton Refuser (times) -->
        <button cButton size="sm" (click)="openDialogRemarque(item.id)" class="reject-btn">
          <i class="fas fa-times"></i>
        </button>
      </ng-container>


      <ng-container *ngIf="columnName === 'valideeService'">

        <c-badge [color]="getBadge(tdContent)">
          {{ item.valideeService == 0 ? 'En attente' : (item.valideeService === 1 ? ' validée' : 'refusée')
          }}
        </c-badge>
      </ng-container>
      <ng-container *ngIf="columnName === 'dateDepot'">
        {{ getDate(item.dateDepot) }}
      </ng-container>
      <ng-container *ngIf="columnName === 'fichierPDFNom'">
        <a *ngIf="item.fichierPDFChemin" (click)="downloadPDF(item.fichierPDFNom)"
          class="text-primary text-decoration-underline" style="cursor: pointer;">
          {{item.fichierPDFNom}}
        </a>
      </ng-container>

    </td>
  </ng-template>
</c-smart-table>