<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header class="dashboard-header" ngPreserveWhitespaces>
        <div class="header-content">
          <span class="admin-role">ESPACE ETUDIANT</span>
          <h2>Mes attestations</h2>
        </div>
      </c-card-header>
      <c-card-body>
        <div *ngIf="myAttestations">
          <app-attestation-basic-example [myAttestations]="myAttestations" [tabs]="0" />
        </div>

      </c-card-body>







    </c-card>
  </c-col>

</c-row>