<c-row class="fixed-dialog">
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header ngPreserveWhitespaces>
                <strong>Dépot d'une convention de stage</strong>
            </c-card-header>
            <c-card-body>
                <form (ngSubmit)="onSubmit()" cForm>
                    <c-row class="mb-3">
                        <label cLabel class="col-sm-2 col-form-label" for="nom">nom</label>
                        <c-col sm="10">
                            <input [(ngModel)]="utilisateur.nom" name="nom" cFormControl id="nom" type="text"
                                placeholder="Nom" required />
                        </c-col>
                    </c-row>
                    <c-row class="mb-3">
                        <label cLabel class="col-sm-2 col-form-label" for="prenom">prenom</label>
                        <c-col sm="10">
                            <input [(ngModel)]="utilisateur.prenom" name="prenom" cFormControl id="prenom" type="text"
                                placeholder="Prenom" required />
                        </c-col>
                    </c-row>
                    <!-- Salle Field -->
                    <c-row class="mb-3">
                        <label cLabel class="col-sm-2 col-form-label" for="cin">CIN</label>
                        <c-col sm="10">
                            <input [(ngModel)]="utilisateur.cin" name="cin" cFormControl id="cin" type="text"
                                placeholder="CIN" required />
                        </c-col>
                    </c-row>

                    <c-row class="mb-3">
                        <label cLabel class="col-sm-2 col-form-label" for="email">Email</label>
                        <c-col sm="10">
                            <input [(ngModel)]="utilisateur.email" name="email" cFormControl id="email" type="text"
                                placeholder="Email" required />
                        </c-col>
                    </c-row>

                    <c-row class="mb-3">
                        <label cLabel class="col-sm-2 col-form-label" for="filiere">filiere</label>
                        <c-col sm="10">
                            <input [(ngModel)]="utilisateur.filiere" name="filiere" cFormControl id="filiere"
                                type="text" placeholder="filiere" required />
                        </c-col>
                    </c-row>

                    <c-row class="mb-3">
                        <label cLabel class="col-sm-2 col-form-label" for="niveau">niveau</label>
                        <c-col sm="10">
                            <input [(ngModel)]="utilisateur.niveau" name="niveau" cFormControl id="niveau" type="text"
                                placeholder="niveau" required />
                        </c-col>
                    </c-row>

                    <c-row class="mb-3">
                        <label cLabel class="col-sm-2 col-form-label" for="adresse">adresse</label>
                        <c-col sm="10">
                            <input [(ngModel)]="utilisateur.adresse" name="adresse" cFormControl id="adresse"
                                type="text" placeholder="adresse" required />
                        </c-col>
                    </c-row>

                    <c-row class="mb-3">
                        <label cLabel class="col-sm-2 col-form-label" for="dateNaissance">dateNaissance</label>
                        <c-col sm="10">
                            <input [(ngModel)]="utilisateur.dateNaissance" name="dateNaissance" cFormControl
                                id="dateNaissance" type="date" placeholder="dateNaissance" required />
                        </c-col>
                    </c-row>

                    <c-row class="mb-3">
                        <label cLabel class="col-sm-2 col-form-label" for="lieuNaissance">lieuNaissance</label>
                        <c-col sm="10">
                            <input [(ngModel)]="utilisateur.lieuNaissance" name="lieuNaissance" cFormControl
                                id="lieuNaissance" type="text" placeholder="lieuNaissance" required />
                        </c-col>
                    </c-row>
                    <c-row class="mb-3">
                        <label cLabel class="col-sm-2 col-form-label" for="telephone">telephone</label>
                        <c-col sm="10">
                            <input [(ngModel)]="utilisateur.telephone" name="telephone" cFormControl
                                id="telephoneEtudiant" type="text" placeholder="telephone" required />
                        </c-col>
                    </c-row>
                    <c-row class="mb-3">
                        <label cLabel class="col-sm-2 col-form-label" for="fax">fax</label>
                        <c-col sm="10">
                            <input [(ngModel)]="utilisateur.fax" name="fax" cFormControl id="fax" type="text"
                                placeholder="fax" required />
                        </c-col>
                    </c-row>



                    <c-row class="mb-3">
                        <label cLabel class="col-sm-2 col-form-label" for="lieuNaissance">lieuNaissance</label>
                        <c-col sm="10">
                            <input [(ngModel)]="utilisateur.lieuNaissance" name="lieuNaissance" cFormControl
                                id="lieuNaissance" type="text" placeholder="lieuNaissance" required />
                        </c-col>
                    </c-row>

                    <c-row class="mb-3">
                        <label cLabel class="col-sm-2 col-form-label" for="option">option</label>
                        <c-col sm="10">
                            <input [(ngModel)]="utilisateur.option" name="option" cFormControl id="option" type="text"
                                placeholder="option" required />
                        </c-col>
                    </c-row>
                    <c-row class="mb-3">
                        <label cLabel class="col-sm-2 col-form-label" for="sexe">Sexe</label>
                        <c-col sm="10">
                            <select [(ngModel)]="utilisateur.sexe" name="sexeId" id="sexe"
                                aria-label="Default select example" cSelect required>
                                <option></option>
                                <option>Féminin</option>
                                <option>Masculin</option>
                            </select>
                        </c-col>
                    </c-row>
                    <c-row class="mb-3">
                        <label cLabel class="col-sm-2 col-form-label" for="dateDebut">dateDebut</label>
                        <c-col sm="10">
                            <input [(ngModel)]="convention.dateDebut" name="dateDebut" cFormControl id="dateDebut"
                                type="date" placeholder="dateDebut" required />
                        </c-col>
                    </c-row>
                    <c-row class="mb-3">
                        <label cLabel class="col-sm-2 col-form-label" for="dateFin">dateFin</label>
                        <c-col sm="10">
                            <input [(ngModel)]="convention.dateFin" name="dateFin" cFormControl id="dateFin" type="date"
                                placeholder="dateFin" required />
                        </c-col>
                    </c-row>

                    <c-row class="mb-3">
                        <label cLabel class="col-sm-2 col-form-label" for="etablissement">etablissement</label>
                        <c-col sm="10">
                            <input [(ngModel)]="convention.etablissement" name="etablissement" cFormControl
                                id="etablissement" type="text" placeholder="etablissement" required />
                        </c-col>
                    </c-row>

                    <c-row class="mb-3">
                        <label cLabel class="col-sm-2 col-form-label" for="adresse">adresse établissement</label>
                        <c-col sm="10">
                            <input [(ngModel)]="convention.adresse" name="adresse" cFormControl id="adresse" type="text"
                                placeholder="adresse" required />
                        </c-col>
                    </c-row>


                    <c-row class="mb-3">
                        <label cLabel class="col-sm-2 col-form-label" for="email">email établissement</label>
                        <c-col sm="10">
                            <input [(ngModel)]="convention.email" name="email" cFormControl id="email" type="text"
                                placeholder="email" required />
                        </c-col>
                    </c-row>


                    <c-row class="mb-3">
                        <label cLabel class="col-sm-2 col-form-label" for="telephone">telephone établissement</label>
                        <c-col sm="10">
                            <input [(ngModel)]="convention.telephone" name="telephone" cFormControl id="telephone"
                                type="text" placeholder="telephone" required />
                        </c-col>
                    </c-row>

                    <c-row class="mb-3">
                        <label cLabel class="col-sm-2 col-form-label" for="representePar">representePar</label>
                        <c-col sm="10">
                            <input [(ngModel)]="convention.representePar" name="representePar" cFormControl
                                id="representePar" type="text" placeholder="representePar" required />
                        </c-col>
                    </c-row>



                    <c-row class="mb-3">
                        <label cLabel class="col-sm-2 col-form-label" for="tuteurStage">tuteurStage</label>
                        <c-col sm="10">
                            <input [(ngModel)]="convention.tuteurStage" name="tuteurStage" cFormControl id="tuteurStage"
                                type="text" placeholder="tuteurStage" required />
                        </c-col>
                    </c-row>

                    <c-row class="mb-3">
                        <label cLabel class="col-sm-2 col-form-label" for="fichierPDF">fichierPDF</label>
                        <c-col sm="10">
                            <!-- <input [(ngModel)]="convention.fichierPDF" name="fichierPDF" cFormControl id="fichierPDF"
                                type="file" placeholder="fichierPDF" required /> -->
                            <input [(ngModel)]="convention.fichierPDF" name="fichierPDF" cFormControl id="fichierPDF"
                                type="file" (change)="onFileChange($event)" placeholder="Choisir un fichier PDF"
                                required />
                        </c-col>
                    </c-row>
                    <!-- <c-row class="mb-3">
                        <label cLabel class="col-sm-2 col-form-label" for="filiere">Filiére</label>
                        <c-col sm="10">
                            <select [(ngModel)]="utilisateur.filiere" name="filiereId" id="filiere"
                                aria-label="Default select example" cSelect required>
                                <option></option>
                                <option>Génie informatique</option>
                                <option>Génie industrielle</option>
                                <option>Génie mécatronique</option>
                                <option>Génie infotronique</option>

                            </select>
                        </c-col> -->
                    <!-- <label cLabel class="col-sm-2 col-form-label" for="niveau">Niveau</label>
                        <c-col sm="10">
                            <select [(ngModel)]="utilisateur.niveau" name="niveauId" id="niveau"
                                aria-label="Default select example" cSelect required>
                                <option></option>
                                <option>1ére année</option>
                                <option>2éme année</option>
                                <option>2éme année</option>

                            </select>
                        </c-col> -->
                    <!-- </c-row> -->
                    <!-- Action Buttons -->
                    <c-row class="mb-3">
                        <c-col sm="12" class="d-flex justify-content-end">
                            <button cButton class="me-3" color="danger" type="button" style="color: #ffffff;"
                                (click)="onNoClick()">Annuler</button>
                            <button cButton color="info" style="color: #ffffff;" type="submit">Soumettre</button>
                        </c-col>
                    </c-row>

                </form>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>