<c-row class="fixed-dialog">
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header ngPreserveWhitespaces>
                <strong>Dépot d'une convention de stage</strong>
            </c-card-header>
            <c-card-body>
                <form (ngSubmit)="onSubmit()" cForm>

                    <c-row class="mb-3 align-items-center">
                        <label cLabel class="col-sm-3 col-form-label fw-semibold" for="fichierPDF">
                            Déposer votre convention
                        </label>
                        <c-col sm="9">
                            <input type="file" (change)="onFileSelected($event)" accept="application/pdf"
                                [(ngModel)]="convention.fichierPDF" name="fichierPDF" cFormControl id="fichierPDF"
                                class="form-control custom-file-input" required />
                            <small class="text-danger d-block mt-2">
                                Seuls les fichiers PDF sont acceptés
                            </small>

                            <div *ngIf="isLoading" class="mt-3 d-flex align-items-center">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="visually-hidden">Un instant SVP...</span>
                                </div>
                                <span class="ms-2">Convention en cours de traitement ...</span>
                            </div>
                        </c-col>
                    </c-row>

                    <c-row class="mb-3">
                        <c-col sm="12" class="d-flex justify-content-end">
                            <button cButton class="me-2" color="danger" type="button" style="color: #ffffff"
                                (click)="onNoClick()">
                                Annuler
                            </button>
                            <button cButton color="info" style="color: #ffffff" type="submit"
                                [disabled]="isSubmitDisabled || isLoading">
                                Soumettre
                            </button>
                        </c-col>
                    </c-row>

                </form>
            </c-card-body>

        </c-card>
    </c-col>
</c-row>