<c-smart-table *ngIf="users && users.length > 0" [activePage]="1" [columnSorter]="true" [columns]="columns"
  [columnFilter]="true" [itemsPerPageSelect]="true" [itemsPerPage]="5" [items]="users"
  [sorterValue]="{ column: 'name', state: 'asc' }" [tableFilter]="true"
  [tableProps]="{ hover: true, striped: true, responsive: true }" [tableBodyProps]="{ align: 'middle' }" cleaner
  clickableRows footer header pagination>
  <ng-template cTemplateId="tableDetails" let-item="item">

    <div [visible]="this.details_visible[item.id]===true" cCollapse>
      <div class="card-body">
        <h5>{{ item.nom }} {{ item.prenom }}</h5>
        <p class="text-muted">Email: {{ item.email }}</p>
        <!-- <p class="text-muted">Date Registered: {{ item.createdAt }}</p> -->
        <button cButton color="info" size="sm">
          Modifier l'utilisateur
        </button>
        <button cButton class="ms-1" color="danger" size="sm" (click)="desactiverCompte(item.id)">
          Désactiver le compte
        </button>
        <p class="text-muted">Date de création de compte: {{ item.createdAt | date }}</p>

      </div>
    </div>
  </ng-template>


  <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
    <td>
      @switch (columnName) {
      @case ('active') {
      <c-badge [color]="getBadge(tdContent)">
        {{ (item[columnName]) }}
      </c-badge>
      }
      @case ('show') {
      <button (click)="toggleDetails(item.id)" cButton color="primary" size="sm" variant="outline">
        Détails
      </button>
      }
      @case ('role') {
      {{ item[columnName]?.nom }}
      }

      @default {

      {{ item[columnName] }}
      }
      }
    </td>
  </ng-template> -->
</c-smart-table>