<!-- <button class="btn btn-warning text-white mb-3" (click)="telechargerConvention()">Télécharger ma convention</button>
<br />
<button class="btn btn-warning text-white mb-3" (click)="openDialog()">Déposer une convention</button> -->

<c-smart-table *ngIf="conventions && conventions.length > 0" [activePage]="1" [columnSorter]="true" [columns]="columns"
    [columnFilter]="true" [itemsPerPageSelect]="true" [itemsPerPage]="5" [items]="conventions"
    [sorterValue]="{ column: 'name', state: 'asc' }" [tableFilter]="true"
    [tableProps]="{ hover: true, striped: true, responsive: true }" [tableBodyProps]="{ align: 'middle' }" cleaner
    clickableRows footer header pagination>
  
    <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
      <td>
        <ng-container
          *ngIf="columnName !== 'action' && columnName !== 'valideeService' && columnName !== 'etudiant' && columnName !== 'dateDepot'  && columnName !== 'fichierPDFNom'">
          {{ item[columnName] }}
        </ng-container>
        <ng-container *ngIf=" columnName==='etudiant'">
          {{item[columnName].nom}} {{item[columnName].prenom}}
        </ng-container>
  
        <!-- Pour la colonne 'Action', afficher les boutons de suppression et de modification -->
        <ng-container *ngIf="columnName==='actions'">
            <!-- Affiche les boutons seulement si la convention n'est pas refusée -->
            <ng-container *ngIf="item.valideeService !== -1">
              <button cButton color="success" size="sm" (click)="approuverConvention(item.id)">
                <i class="fa fa-check" style="color: #ffffff;"></i>
              </button>
              <button cButton class="ms-1" color="danger" size="sm" (click)="openDialogRemarque(item.id)">
                <i class="fa fa-trash" style="color: #ffffff;"></i>
              </button>
            </ng-container>
          
            <!-- Affiche un message si refusée -->
            <span *ngIf="item.valideeService === -1" class="text-muted">
              Action non disponible
            </span>
          </ng-container>
  
        <ng-container *ngIf="columnName === 'valideeService'">
  
          <c-badge [color]="getBadge(tdContent)">
            {{ item.valideeService == 0 ? 'En attente' : (item.valideeService === 1 ? ' validée' : 'refusée')
            }}
          </c-badge>
        </ng-container>
        <ng-container *ngIf="columnName === 'dateDepot'">
          {{ getDate(item.dateDepot) }}
        </ng-container>
        <ng-container *ngIf="columnName === 'fichierPDFNom'">
          <a *ngIf="item.fichierPDFChemin" (click)="downloadPDF(item.fichierPDFNom)"
            class="text-primary text-decoration-underline" style="cursor: pointer;">
            {{item.fichierPDFNom}}
          </a>
        </ng-container>
  
      </td>
    </ng-template>
  </c-smart-table>